<style>
    .userinfo>td>img {
        width:40px;height:40px;border-radius: 50%;
    }
</style>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户管理 <span class="c-gray en">&gt;</span> 用户列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <section id="formAjax">
        <div class="text-c">
            <button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
            日期范围：
            <input type="text" onfocus="WdatePicker({ maxDate:'#F{ $dp.$D(\'logmax\')||\'%y-%M-%d\' }' })" id="logmin" value="{$Think.get.logmin}" class="input-text Wdate" style="width:120px;">
            -
            <input type="text" onfocus="WdatePicker({ minDate:'#F{ $dp.$D(\'logmin\') }' })" id="logmax" value="{$Think.get.logmax}" class="input-text Wdate" style="width:120px;">
            <input type="text" name="search" value="{$Think.get.search}" id="search" placeholder=" 用户名称或手机号" style="width:250px" class="input-text">
            <button name="" id="search-btn" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i> 查找用户</button>
        </div>
    </section>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="r">共有数据：<strong>{$page.count}</strong> 条</span> </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr class="text-c">
            <th width="25">#</th>
            <th width="60">头像</th>
            <th width="100">昵称</th>
            <th width="90">性别</th>
            <th width="150">手机号</th>
            <th width="130">注册时间</th>
            <th width="60">用户状态</th>
            <th width="100">操作</th>
        </tr>
        </thead>
        <tbody>
        <form id="multi-check">
            {foreach $list as $li}
            <tr class="text-c userinfo">
                <td>{$li.id}</td>
                <td><img src="{if $li['avatar']}{$li.avatar}{else /}/static/src/image/default.jpg{/if}" alt=""></td>
                <td>{$li.nickname}</td>
                <td>
                    {switch $li['sex']}
                    {case 1}
                    <span>男</span>{/case}
                    {case 0}
                    <span>女</span>{/case}
                    {default /}
                    {/switch}
                </td>
                <td>{$li.tel}</td>
                <td>{$li.create_time|date='Y-m-d H:i'}</td>
                <td class="td-status">
                    {switch $li['status']}
                    {case 1}
                    <span class="label label-success radius">正常</span>{/case}
                    {case 2}
                    <span class="label label-danger radius">已拉黑</span>{/case}
                    {default /}
                    {/switch}

                </td>
                <td class="td-manage">
                    {if $li['status'] != 2}
                    <a style="text-decoration:none" onClick="user_stop(this,{$li.id})" href="javascript:;" title="拉进黑名单">
                        <i class="Hui-iconfont">&#xe631;</i>
                    </a>
                    {else /}
                    <a style="text-decoration:none" onClick="user_start(this,{$li.id})" href="javascript:;" title="恢复">
                        <i class="Hui-iconfont">&#xe66b;</i>
                    </a>
                    {/if}
                    <a title="查看详情" href="javascript:;" onclick="user_detail('用户信息','{:url("Member/userdetail",array("id"=>$li['id']))}')" class="ml-5" style="text-decoration:none">
                    <i class="Hui-iconfont">&#xe6df;</i>
                    </a>
                </td>
            </tr>
            {/foreach}
        </form>

        <tr>
            <td colspan="8" id="page" class="text-r"></td>
        </tr>
        </tbody>
    </table>
</div>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

    var url = '{:url("Member/memberlist")}' + '?<?php echo $page["query"];?>'
    var curr = '{$page.curr}'
    laypage({
        cont: 'page', //容器。值支持id名、原生dom对象，jquery对象。
        pages: '{$page.totalPage}', //通过后台拿到的总页数
        skip: false, //是否开启跳页
        skin: '#5a98de',
        curr: curr || 1, //当前页
        jump: function(obj, first){ //触发分页后的回调
            // console.log(obj)
            if(!first) {
                window.location.href = url+'&page=' + obj.curr;
            }
        }
    });

    $("#search-btn").click(function () {
        var logmin = $("#formAjax").find("#logmin").val()
        var logmax = $("#formAjax").find("#logmax").val()
        var search = $("#formAjax").find("#search").val()
        var str = ''
        if(logmin.length != '') {
            str += '&logmin=' + logmin
        }
        if(logmax.length != '') {
            str += '&logmax=' + logmax
        }
        if(search.length != '') {
            str += '&search=' + search
        }
        window.location.href = '{:url("Member/memberlist")}' + '?' + str;
    });

    /*查看用户信息*/
    function user_detail(title,url){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
    
    
    function user_stop(obj,id) {
        layer.confirm('确认要拉黑吗？',function(index){
            $.ajax({
                url:"{:url('Member/userStop')}",
                type:'post',
                dataType:'json',
                data:{id:id},
                success:function(data) {
                    console.log(data)
                    if(data.code == 1) {
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">已拉黑</span>')
                        $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="user_start(this,'+id+')" href="javascript:;" title="恢复"><i class="Hui-iconfont">&#xe66b;</i></a>');
                        $(obj).remove();
                        layer.msg('已拉黑!',{icon: 1,time:1000});
                    }else {
                        layer.msg(data.data,{icon:2,time:1000})
                    }
                },
                error:function(data) {
                    layer.msg('请求失败!',{icon:5,time:1000})
                },
            })
        });
    }

    function user_start(obj,id) {
        layer.confirm('确认恢复吗？恢复后用户需重新认证',function(index){
            $.ajax({
                url:"{:url('Member/userGetback')}",
                type:'post',
                dataType:'json',
                data:{id:id},
                success:function(data) {
                    console.log(data)
                    if(data.code == 1) {
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-warning radius">未认证</span>')
                        $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="user_stop(this,'+id+')" href="javascript:;" title="恢复"><i class="Hui-iconfont">&#xe631;</i></a>');
                        $(obj).remove();
                        layer.msg('已恢复!',{icon: 1,time:1000});
                    }else {
                        layer.msg(data.data,{icon:2,time:1000})
                    }
                },
                error:function(data) {
                    layer.msg('请求失败!',{icon:5,time:1000})
                },
            })
        });
    }

    /*需求审核*/
    function user_shenhe(obj,id){
        layer.confirm('审核用户？', {
                btn: ['通过','不通过','取消'],
                shade: false,
                closeBtn: 0
            },
            function(){
                $.ajax({
                    url:"{:url('Member/userPass')}",
                    type:'post',
                    dataType:'json',
                    data:{id:id},
                    success:function(data) {
                        console.log(data)
                        if(data.code == 1) {
                            $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已认证</span>');
                            $(obj).parent().html('<span class="btn btn-link radius"></span>');
                            layer.msg('已审核', {icon:6,time:1000});
                        }else {
                            layer.msg(data.data,{icon:2,time:1000})
                        }
                    },
                    error:function(data) {
                        layer.msg('请求失败!',{icon:5,time:1000})
                    },
                })

            },
            function(){
                $.ajax({
                    url:"{:url('Member/userReject')}",
                    type:'post',
                    dataType:'json',
                    data:{id:id},
                    success:function(data) {
                        console.log(data)
                        if(data.code == 1) {
                            $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">未通过</span>');
                            $(obj).parent().html('<span class="btn btn-link radius"></span>');
                            layer.msg('未通过', {icon:5,time:1000});
                        }else {
                            layer.msg(data.data,{icon:2,time:1000})
                        }
                    },
                    error:function(data) {
                        layer.msg('请求失败!',{icon:5,time:1000})
                    },
                })

            });
    }

    function multi_del() {
        layer.confirm('全部拉黑吗？', {
                btn: ['确认','取消'],
                shade: false,
                closeBtn: 0
            },
            function() {
                $('#multi-check').ajaxSubmit({
                    type: 'post',
                    url: "{:url('Member/multiDel')}" ,
                    success: function(data){
                        console.log(data)
                        if(data.code == 1) {
                            layer.msg(data.data,{icon:1,time:1000});
                            setTimeout("window.location.reload()", 1000)
                        }else {
                            layer.msg(data.data,{icon:2,time:1000});
                        }

                    },
                    error: function(msg){
                        //console.log(JSON.parse(msg.responseText))
                        layer.msg('接口请求失败!',{icon:5,time:1000});
                    }
                });
            })
    }

    function multi_check() {
        layer.confirm('确定批量认证？', {
                btn: ['批量通过','批量拒绝','取消'],
                shade: false,
                closeBtn: 0
            },
            function() {
                $('#multi-check').ajaxSubmit({
                    type: 'post',
                    url: "{:url('Member/multiPass')}" ,
                    success: function(data){
                        console.log(data)
                        if(data.code == 1) {
                            layer.msg(data.data,{icon:1,time:1000});
                            setTimeout("window.location.reload()", 1000)
                        }else {
                            layer.msg(data.data,{icon:2,time:1000});
                        }

                    },
                    error: function(msg){
                        //console.log(JSON.parse(msg.responseText))
                        layer.msg('接口请求失败!',{icon:5,time:1000});
                    }
                });
            },
            function() {
                $('#multi-check').ajaxSubmit({
                    type: 'post',
                    url: "{:url('Member/multiReject')}" ,
                    success: function(data){
                        console.log(data)
                        if(data.code == 1) {
                            layer.msg(data.data,{icon:5,time:1000});
                            setTimeout("window.location.reload()", 1000)
                        }else {
                            layer.msg(data.data,{icon:2,time:1000});
                        }

                    },
                    error: function(msg){
                        //console.log(JSON.parse(msg.responseText))
                        layer.msg('接口请求失败!',{icon:5,time:1000});
                    }
                });
            })

    }
    
</script>