<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span>
    会员管理
    <span class="c-gray en">&gt;</span>
    充值记录
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <form id="formAjax">
        <div class="text-c"> 日期范围：
            <input type="text" onfocus="WdatePicker({ maxDate:'#F{ $dp.$D(\'logmax\')||\'%y-%M-%d\' }' })" id="logmin" value="{$Think.get.logmin}" class="input-text Wdate" style="width:120px;">
            -
            <input type="text" onfocus="WdatePicker({ minDate:'#F{ $dp.$D(\'logmin\') }' })" id="logmax" value="{$Think.get.logmax}" class="input-text Wdate" style="width:120px;">
            <input type="text" name="search" id="search" value="{$Think.get.search}" placeholder="输入查找内容" style="width:250px" class="input-text">
            <button id="search-btn" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i> 查找记录</button>
        </div>
    </form>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="r">共有数据：<strong>{$page.count}</strong> 条</span>
    </div>
    <table class="table table-border table-bordered table-bg table-hover table-sort">
        <thead>
        <tr class="text-c">
            <th width="150">充值单号</th>
            <th>充值内容</th>
            <th width="100">充值金额</th>
            <th width="90">用户名</th>
            <th width="90">真实姓名</th>
            <th width="90">手机号</th>
            <th width="120">充值时间</th>
            <th width="90">状态</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $li}
        <tr class="text-c">
            <td>{$li.order_sn}</td>
            <td>{$li.title}</td>
            <td>{$li.order_price}</td>
            <td>{$li.nickname}</td>
            <td>{$li.realname}</td>
            <td>{$li.tel}</td>
            <td>{if $li['pay_time']}{$li.pay_time|date='Y-m-d H:i:s'}{/if}</td>
            <td>
                {switch $li['status']}
                {case 0}待支付{/case}
                {case -1}支付失败{/case}
                {case 1}已支付{/case}
                {default /}其他
                {/switch}
            </td>
        </tr>
        {/foreach}

        <tr class="text-r">
            <td colspan="8" id="page">

            </td>
        </tr>
        </tbody>
    </table>
    <div id="pageNav" class="pageNav"></div>
</div>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script>
    var url = '{:url("Member/recharge")}' + '?<?php echo $page["query"];?>'
    var curr = '{$page.curr}'
    laypage({
        cont: 'page', //容器。值支持id名、原生dom对象，jquery对象。
        pages: '{$page.totalPage}', //通过后台拿到的总页数
        skip: false, //是否开启跳页
        skin: '#5a98de',
        curr: curr || 1, //当前页
        jump: function(obj, first){ //触发分页后的回调
            // console.log(obj)
            if(!first) {
                window.location.href = url+'&page=' + obj.curr;
            }
        }
    });

    $("#search-btn").click(function () {
        var logmin = $("#formAjax").find("#logmin").val()
        var logmax = $("#formAjax").find("#logmax").val()
        var search = $("#formAjax").find("#search").val()
        var str = ''
        if(logmin.length != '') {
            str += 'logmin=' + logmin
        }
        if(logmax.length != '') {
            str += '&logmax=' + logmax
        }
        if(search.length != '') {
            str += '&search=' + search
        }
        window.location.href = '{:url("Member/recharge")}' + '?' + str;
    });
</script>