<style>
    span.price {color:blue;font-weight: bold}
</style>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 需求管理 <span class="c-gray en">&gt;</span> 需求列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div id="formAjax" class="text-c">
        <button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
        <span class="select-box inline">
		<select name="status" id="status" class="select">
			<option value="">全部</option>
			<option value="-3" {if $status === "-3"}selected{/if}>已取消</option>
			<option value="-2" {if $status === "-2"}selected{/if}>无人接</option>
			<option value="-1" {if $status === "-1"}selected{/if}>未通过</option>
			<option value="0" {if $status === "0"}selected{/if}>待审核</option>
			<option value="1" {if $status === "1"}selected{/if}>待接单</option>
			<option value="2" {if $status === "2"}selected{/if}>进行中</option>
			<option value="3" {if $status === "3"}selected{/if}>已提交</option>
			<option value="4" {if $status === "4"}selected{/if}>已完成</option>
			<option value="5" {if $status === "5"}selected{/if}>未完成</option>
		</select>
		</span> 日期范围：
        <input type="text" onfocus="WdatePicker({ maxDate:'#F{ $dp.$D(\'logmax\')||\'%y-%M-%d\' }' })" value="{$Think.get.logmin}" id="logmin" class="input-text Wdate" style="width:120px;">
        -
        <input type="text" onfocus="WdatePicker({ minDate:'#F{ $dp.$D(\'logmin\') }' })" value="{$Think.get.logmin}" id="logmax" class="input-text Wdate" style="width:120px;">
        <input type="text" name="search" value="{$Think.get.search}" id="search" placeholder=" 需求标题" style="width:250px" class="input-text">
        <button name="" id="search-btn" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 查找订单</button>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a href="javascript:;" onclick="multi_check()" class="btn btn-primary radius">
                <i class="Hui-iconfont">&#xe66a;</i> 批量审核
            </a>
        </span>
        <span class="r">共有数据：<strong>{$page.count}</strong> 条</span> </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
            <thead>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value=""></th>
                <th width="150">需求单号</th>
                <th>标题</th>
                <th width="80">分类</th>
                <th width="80">实付金额</th>
                <th width="90">发布人</th>
                <th width="120">发布时间</th>
                <th width="60">订单状态</th>
                <th width="75">审核</th>
                <th width="120">操作</th>
            </tr>
            </thead>
            <tbody>
            <form id="multi-check">
                {foreach $list as $li}
                <tr class="text-c">
                    <td><input type="checkbox" value="{$li.id}" name="check[]"></td>
                    <td>{$li.order_sn}</td>
                    <td class="text-l"><u style="cursor:pointer" class="text-primary">{$li.title}</u></td>
                    <td>{$li.cate_name}</td>
                    <td class="text-l"><span class="price">￥：{$li.real_price}</span></td>
                    <td class="text-c">{$li.nickname}</td>
                    <td>{$li.create_time|date="Y-m-d H:i"}</td>
                    <td class="td-status">
                        {switch $li['status']}
                        {case -3}
                        <span class="label label-default radius">已取消</span>
                        {/case}
                        {case -2}
                        <span class="label label-danger radius">无人接</span>
                        {/case}
                        {case -1}
                        <span class="label label-default radius">未通过</span>
                        {/case}
                        {case 0}
                        <span class="label label-warning radius">待审核</span>
                        {/case}
                        {case 1}
                        <span class="label label-success radius">待接单</span>
                        {/case}
                        {case 2}
                        <span class="label label-success radius">进行中</span>
                        {/case}
                        {case 3}
                        <span class="label label-success radius">已提交</span>
                        {/case}
                        {case 4}
                        <span class="label label-success radius">已完成</span>
                        {/case}
                        {case 5}
                        <span class="label label-danger radius">未完成</span>
                        {/case}
                        {case 6}
                        <span class="label label-success radius">平台介入</span>
                        {/case}
                        {default /}
                        <input type="text" class="input-text" value="其他" placeholder=""  disabled>
                        {/switch}
                    </td>
                    <td>
                        {if $li['status'] == 0}
                        <a class="btn btn-link radius" style="text-decoration:none;" onClick="req_shenhe(this,{$li.id})" href="javascript:;" title="审核">审核</a>
                        {else /}
                        <span class="btn btn-link radius"></span>
                        {/if}
                    </td>
                    <td class="f-14 td-manage">
                        {if $li['show'] == 1}
                        <a style="text-decoration:none" onClick="req_hide(this,{$li.id})" href="javascript:;" title="隐藏">
                            <i class="Hui-iconfont">&#xe6de;</i>
                        </a>
                        {else /}
                        <a style="text-decoration:none" onClick="req_show(this,{$li.id})" href="javascript:;" title="发布">
                            <i class="Hui-iconfont">&#xe603;</i>
                        </a>
                        {/if}

                        <a style="text-decoration:none" class="ml-5" onClick="req_detail('查看详情','{:url("Index/detail",array("rid"=>$li['id']))}')" href="javascript:;" title="查看详细">
                            <i class="Hui-iconfont">&#xe6df;</i>
                        </a>
                        {if $li['status'] == 3}
                        <a style="text-decoration:none" class="ml-5" onClick="resolve_conflict(this,{$li.id})" href="javascript:;" title="平台介入">
                            <i class="Hui-iconfont">&#xe62d;</i>
                        </a>
                        {/if}
                        <!--<a style="text-decoration:none" class="ml-5" onClick="req_del(this,'')" href="javascript:;" title="删除">-->
                        <!--<i class="Hui-iconfont">&#xe6e2;</i>-->
                        <!--</a>-->
                    </td>
                </tr>
                {/foreach}
            </form>



            <tr class="text-r">
                <td colspan="10" id="page">

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

    var url = '{:url("Index/rlist")}' + '?<?php echo $page["query"];?>';
    var curr = '{$page.curr}';
    laypage({
        cont: 'page', //容器。值支持id名、原生dom对象，jquery对象。
        pages: '{$page.totalPage}', //通过后台拿到的总页数
        skip: false, //是否开启跳页
        skin: '#5a98de',
        curr: curr || 1, //当前页
        jump: function(obj, first){ //触发分页后的回调
            // console.log(obj)
            if(!first) {
                window.location.href = url+'&page=' + obj.curr;
            }
        }
    });

    $("#search-btn").click(function () {
        var status = $("#formAjax").find("#status").val()
        var logmin = $("#formAjax").find("#logmin").val()
        var logmax = $("#formAjax").find("#logmax").val()
        var search = $("#formAjax").find("#search").val()
        var str = ''
        if(status.length != '') {
            str += '&status=' + status
        }
        if(logmin.length != '') {
            str += '&logmin=' + logmin
        }
        if(logmax.length != '') {
            str += '&logmax=' + logmax
        }
        if(search.length != '') {
            str += '&search=' + search
        }
        window.location.href = '{:url("Index/rlist")}' + '?' + str;
    });

    /*需求查看*/
    function req_detail(title,url){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }

    /*需求审核*/
    function req_shenhe(obj,id){
        layer.confirm('审核需求？', {
                btn: ['通过','不通过','取消'],
                shade: false,
                closeBtn: 0
            },
            function(){
                $.ajax({
                    url:"{:url('Index/reqPass')}",
                    type:'post',
                    dataType:'json',
                    data:{id:id},
                    success:function(data) {
                        console.log(data)
                        if(data.code == 1) {
                            $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">待接单</span>');
                            $(obj).parent().html('<span class="btn btn-link radius"></span>');
                            layer.msg('已审核', {icon:1,time:1000});
                        }else {
                            layer.msg(data.data,{icon:2,time:1000})
                        }
                    },
                    error:function(data) {
                        layer.msg('请求失败!',{icon:5,time:1000})
                    },
                })

            },
            function(){
                $.ajax({
                    url:"{:url('Index/reqReject')}",
                    type:'post',
                    dataType:'json',
                    data:{id:id},
                    success:function(data) {
                        console.log(data)
                        if(data.code == 1) {
                            $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">未通过</span>');
                            $(obj).parent().html('<span class="btn btn-link radius"></span>');
                            layer.msg('未通过', {icon:5,time:1000});
                        }else {
                            layer.msg(data.data,{icon:2,time:1000})
                        }
                    },
                    error:function(data) {
                        layer.msg('请求失败!',{icon:5,time:1000})
                    },
                })

            });
    }
    /*需求隐藏*/
    function req_hide(obj,id){
        layer.confirm('确认要隐藏吗？',function(index){
            $.ajax({
                url:"{:url('Index/reqHide')}",
                type:'post',
                dataType:'json',
                data:{id:id},
                success:function(data) {
                    console.log(data)
                    if(data.code == 1) {
                        $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="req_show(this,'+id+')" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
                        $(obj).remove();
                        layer.msg('已隐藏!',{icon: 1,time:1000});
                    }else {
                        layer.msg(data.data,{icon:2,time:1000})
                    }
                },
                error:function(data) {
                    layer.msg('请求失败!',{icon:5,time:1000})
                },
            })

        });
    }
    /*需求显示*/
    function req_show(obj,id){
        layer.confirm('确认要发布吗？',function(index){
            $.ajax({
                url:"{:url('Index/reqShow')}",
                type:'post',
                dataType:'json',
                data:{id:id},
                success:function(data) {
                    console.log(data)
                    if(data.code == 1) {
                        $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="req_hide(this,'+id+')" href="javascript:;" title="隐藏"><i class="Hui-iconfont">&#xe6de;</i></a>');
                        $(obj).remove();
                        layer.msg('已发布!',{icon: 1,time:1000});
                    }else {
                        layer.msg(data.data,{icon:2,time:1000})
                    }
                },
                error:function(data) {
                    layer.msg('请求失败!',{icon:5,time:1000})
                },
            })

        });
    }

    function multi_check() {
        layer.confirm('确定批量审核？', {
                btn: ['批量通过','批量拒绝','取消'],
                shade: false,
                closeBtn: 0
            },
            function() {
                $('#multi-check').ajaxSubmit({
                    type: 'post',
                    url: "{:url('Index/multiPass')}" ,
                    success: function(data){
                        console.log(data)
                        if(data.code == 1) {
                            layer.msg(data.data,{icon:1,time:1000});
                            setTimeout("window.location.reload()", 1000)
                        }else {
                            layer.msg(data.data,{icon:2,time:1000});
                        }

                    },
                    error: function(msg){
                        //console.log(JSON.parse(msg.responseText))
                        layer.msg('接口请求失败!',{icon:5,time:1000});
                    }
                });
            },
            function() {
                $('#multi-check').ajaxSubmit({
                    type: 'post',
                    url: "{:url('Index/multiReject')}" ,
                    success: function(data){
                        console.log(data)
                        if(data.code == 1) {
                            layer.msg(data.data,{icon:5,time:1000});
                            setTimeout("window.location.reload()", 1000)
                        }else {
                            layer.msg(data.data,{icon:2,time:1000});
                        }

                    },
                    error: function(msg){
                        //console.log(JSON.parse(msg.responseText))
                        layer.msg('接口请求失败!',{icon:5,time:1000});
                    }
                });
            })

    }

    function resolve_conflict(obj,id) {
        layer.confirm('平台介入？', {
                title:'操作',
                btn: ['判定一方全责','使用其他方案','取消'],
                shade: false,
                closeBtn: 0
            },
            function (){
                layer.confirm('请选择过错一方', {
                    title:'平台介入',
                    btn: ['发布人过错','应邀人过错','取消'],
                    shade: false,
                    closeBtn: 0
                },function () {
                    layer.confirm('订单完成,应邀人奖获得全部报酬?',{
                        btn: ['确定','取消'],
                        shade: false,
                        closeBtn: 0
                    },function () {
                        $.ajax({
                            url:"{:url('Index/makeSuccessful')}",
                            type:'post',
                            dataType:'json',
                            data:{id:id},
                            success:function(data) {
                                // console.log(data)
                                if(data.code == 1) {
                                    $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">平台介入</span>');
                                    $(obj).remove();
                                    layer.msg('订单已处理!',{icon:1,time:1000})
                                }else {
                                    layer.msg('接口请求失败!',{icon:2,time:1000})
                                }

                            },
                            error:function(data) {
                                layer.msg('接口请求失败!',{icon:2,time:1000})
                            },
                        })
                    })
                },function () {
                    layer.confirm('订单未完成,发布人获得全部退款?',{
                        btn: ['确定','取消'],
                        shade: false,
                        closeBtn: 0
                    },function () {
                        $.ajax({
                            url:"{:url('Index/makeFailed')}",
                            type:'post',
                            dataType:'json',
                            data:{id:id},
                            success:function(data) {
                                // console.log(data)
                                if(data.code == 1) {
                                    $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">平台介入</span>');
                                    $(obj).remove();
                                    layer.msg('订单已处理!',{icon:1,time:1000})
                                }else {
                                    layer.msg('接口请求失败!',{icon:2,time:1000})
                                }

                            },
                            error:function(data) {
                                layer.msg('接口请求失败!',{icon:2,time:1000})
                            },
                        })
                    })
                })

            },
            function (){
                layer.prompt({
                    formType: 0,
                    value: '',
                    title: '请输入发布方责任百分比(1-99)',
                    maxlength:2,
                }, function(value, index, elem){
                    var rule = /(^1$)|(^\d{1,2}$)/;
                    if(!rule.test(value)) {
                        layer.msg('请输入正确数字', {icon:2,time:1000})
                    }else {
                        $.ajax({
                            url:"{:url('Index/resolve_conflict')}",
                            type:'post',
                            dataType:'json',
                            data:{percent:value,id:id},
                            success:function(data) {
                                // console.log(data)
                                if(data.code === 1) {
                                    layer.confirm('发布人获得退款'+data.data.f_money+'元,应邀人获得报酬'+data.data.a_money+'元', {
                                        title:'此订单状态变为介入完成?',
                                        btn: ['确定','取消'],
                                        shade: false,
                                        closeBtn: 0
                                    },function () {
                                        $.ajax({
                                            url:"{:url('Index/resolve_conflict_post')}",
                                            type:'post',
                                            dataType:'json',
                                            data:{percent:value,id:id},
                                            success:function(data) {
                                                console.log(data)
                                                if(data.code == 1) {
                                                    $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">平台介入</span>');
                                                    layer.msg('订单已处理!',{icon:1,time:1000})

                                                }else {
                                                    layer.msg('接口请求失败!',{icon:2,time:1000})
                                                }
                                            },
                                            error:function(data) {
                                                layer.msg('接口请求失败!',{icon:2,time:1000})
                                            },
                                        })
                                    })
                                }else {
                                    layer.msg(data.data,{icon:2,time:1000})
                                }
                            },
                            error:function(data) {
                                layer.msg('接口请求失败!',{icon:2,time:1000})
                            },
                        })
                    }
                })
            },

        );
    }



</script>