<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-home">
            <dt><i class="Hui-iconfont">&#xe625;</i> 首页<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Index/slideList')}" data-title="轮播图" href="javascript:void(0)">轮播图</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-user">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('User/userList')}" data-title="用户列表" href="javascript:void(0)">用户列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-store">
            <dt><i class="Hui-iconfont">&#xe66a;</i> 店铺管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Store/storeList')}" data-title="店铺列表" href="javascript:void(0)">店铺列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-product">
            <dt><i class="Hui-iconfont">&#xe620;</i> 商品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Store/goodsList')}" data-title="商品列表" href="javascript:void(0)">商品列表</a></li>
                    <li><a data-href="{:url('Free/goodsList')}" data-title="免费拿商品" href="javascript:void(0)">免费拿商品</a></li>
                    <li><a data-href="{:url('Free/orderList')}" data-title="免费拿订单" href="javascript:void(0)">免费拿订单</a></li>
                    <li><a data-href="{:url('Free/helpList')}" data-title="助力列表" href="javascript:void(0)">助力列表</a></li>
                </ul>
            </dd>
        <dl id="menu-note">
            <dt><i class="Hui-iconfont">&#xe70c;</i> 笔记管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Note/noteList')}" data-title="笔记列表" href="javascript:void(0)">笔记列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-ad">
            <dt><i class="Hui-iconfont">&#xe639;</i> 广告管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Ad/adList')}" data-title="广告列表" href="javascript:void(0)">广告列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-order">
            <dt><i class="Hui-iconfont">&#xe670;</i> 订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Order/orderList')}" data-title="订单列表" href="javascript:void(0)">订单列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-others">
            <dt><i class="Hui-iconfont">&#xe666;</i> 营销管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Marketing/index')}" data-title="营销首页" href="javascript:void(0)">营销首页</a></li>
                </ul>
            </dd>
        </dl>

    </div>
</aside>