<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-home">
            <dt onclick="javascript:window.location.href='{:url(\'Index/index\')}';"><i class="Hui-iconfont">&#xe625;</i> 首页</dt>
        </dl>
        <dl id="menu-note">
            <dt><i class="Hui-iconfont">&#xe70c;</i> 笔记管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Note/noteList')}" data-title="笔记列表" href="javascript:void(0)">笔记列表</a></li>
                </ul>
            </dd>
        </dl>


    </div>
</aside>