<style>
    .thumbnail{ width:384px;height: 216px;background-size: cover;background-position: center;position: relative}
</style>
<article class="page-container">
    <form class="form form-horizontal" id="form-article-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>活动标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.title}" placeholder="" id="title" name="title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>奖品名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.prize}" placeholder="" id="prize" name="prize">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span id="btn-star" class="btn btn-primary btn-uploadstar radius ml-10">选择图片</span>
            </label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="uploader-thum-container">
                    <div id="fileList" class="uploader-list">
                        {if $info['cover']}
                        <div id="cover" class="thumbnail" style="background-image: url('/{$info.cover}');">
                            <div class="file-panel"></div>
                        </div>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">奖品数量：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.num}" placeholder="" id="num" name="num">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">中奖概率(val%)：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.probability}" placeholder="输入格式(0.01~100)" id="keywords" name="probability">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">排序值：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.sort}" placeholder="" id="articlesort" name="sort">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>是否进行：</label>
            <div class="formControls col-xs-8 col-sm-9">
                {if $info['status'] == 3}
                <label>活动已结束,不可更改</label>
                <input name="status" type="radio" checked value="3" style="display: none">
                {else /}
                <div class="radio-box">
                    <input name="status" type="radio" id="sex-1" {if $info['status'] == 1}checked{/if} value="1">
                    <label for="sex-1">直接进行</label>
                </div>
                <div class="radio-box">
                    <input name="status" type="radio" id="sex-2" {if $info['status'] == 2}checked{/if} value="2">
                    <label for="sex-2">暂不进行</label>
                </div>
                {/if}
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">抽奖开始时间：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:00:00',maxDate:'#F{ $dp.$D(\'end_time\')||\'\'}' })" id="start_time" name="start_time" value="{$info.start_time|date='Y-m-d H:i:s'}" class="input-text Wdate">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">抽奖结束时间：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:00:00',minDate:'#F{ $dp.$D(\'start_time\')}' })" id="end_time" name="end_time" value="{$info.end_time|date='Y-m-d H:i:s'}" class="input-text Wdate">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">开奖时间：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:00:00',minDate:'#F{ $dp.$D(\'end_time\')}' })" id="open_time" name="open_time" value="{$info.open_time|date='Y-m-d H:i:s'}" class="input-text Wdate">
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
        <input type="file" name="file" id="file" style="display: none;">
        <input type="hidden" name="prize_id" value="{$info.id}">
    </form>
</article>


<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
    $(function(){
        var isclick = true
        //表单验证
        $("#form-article-add").validate({
            rules:{
                title:{
                    required:true,
                    maxlength:100
                },
                prize:{
                    required:true,
                    maxlength:30
                },
                num:{
                    required:true,
                    digits:true,
                    maxlength:8
                },
                sort:{
                    required:true,
                    digits:true,
                    maxlength:8
                },
                probability:{
                    required:true,
                    number:true,
                    min:0.01,
                    max:100
                },
                status:{
                    required:true,
                },
                start_time:{
                    required:true,
                },
                end_time:{
                    required:true,
                },
                open_time:{
                    required:true,
                },
                prize_id:{
                    required:true
                }

            },
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                if(isclick === true) {
                    isclick = false
                    $(form).ajaxSubmit({
                        type: 'post',
                        url: "{:url('Banner/prizemod_post')}" ,
                        success: function(data){
                            console.log(data)
                            if(data.code == 1) {
                                layer.msg('修改成功!',{icon:1,time:1000});
                                setTimeout("window.parent.location.reload()", 1000)
                            }else {
                                layer.msg(data.data,{icon:2,time:1000});
                                isclick = true
                            }

                        },
                        error: function(XmlHttpRequest, textStatus, errorThrown){
                            layer.msg('error!',{icon:5,time:1000});
                            isclick = true
                        }
                    });
                }

            }
        });

        $(document).on("change", "#file",function(e) {
            if(checkfile('file') !== true) {
                $("#file").val('')
                return false
            }
            var img = e.target.files[0];
            var src = window.URL.createObjectURL(img);
            $("#fileList").html('<div id="cover" class="thumbnail" style="background-image: url('+src+');"><div class="file-panel"></div></div>');
        });

        $("#btn-star").click(function(){
            $("#file").click();
        })


        function checkfile(fileId){

            var maxsize = 512*1024;//512K
            var errMsg = "上传的附件文件不能超过512K！！！";
            var tipMsg = "您的浏览器暂不支持计算上传文件的大小，确保上传文件不要超过512K，建议使用IE、FireFox、Chrome浏览器。";
            var browserCfg = {};

            var ua = window.navigator.userAgent;
            if (ua.indexOf("MSIE")>=1){
                browserCfg.ie = true;
            }else if(ua.indexOf("Firefox")>=1){
                browserCfg.firefox = true;
            }else if(ua.indexOf("Chrome")>=1){
                browserCfg.chrome = true;
            }

            if(typeof FileReader != 'undefined'){
                var file = document.getElementById(fileId).files[0];
                if((file.type).indexOf("image/")==-1){
                    alert('请上传图片（格式BMP、JPG、JPEG、PNG、GIF等）!!!!');
                    return false;
                }
            }else{
                var fileName=document.getElementById(fileId).value;
                var suffixIndex=fileName.lastIndexOf(".");
                var suffix=fileName.substring(suffixIndex+1).toUpperCase();
                if(suffix!="BMP"&&suffix!="JPG"&&suffix!="JPEG"&&suffix!="PNG"&&suffix!="GIF"){
                    alert("请上传图片（格式BMP、JPG、JPEG、PNG、GIF等）!");
                    return false;
                }
            }

            try{
                var obj_file = document.getElementById(fileId);
                if(obj_file.value==""){
                    alert("请先选择上传文件");
                    return false;
                }
                var filesize = 0;

                if(browserCfg.firefox || browserCfg.chrome ){
                    filesize = obj_file.files[0].size;
                }else{
                    alert(tipMsg);
                    return false;
                }

                if(filesize==-1){
                    alert(tipMsg);
                    return false;
                }else if(filesize>maxsize){
                    alert(errMsg);
                    return false;
                }else{
                    return true;
                }
            }catch(e){
                alert(e);
                return false;
            }
            return false;
        }

    });
</script>