<style>
    .thumbnail{ width:300px;height: 200px;background-size: cover;background-position: center;position: relative}
</style>
<article class="page-container">
    <form class="form form-horizontal" id="form-article-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>博物馆名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.title}" placeholder="" id="title" name="title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">备注：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.desc}" placeholder="" id="desc" name="desc">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span id="btn-star1" class="btn btn-primary btn-uploadstar radius ml-10">博物馆图片</span>
            </label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="uploader-thum-container">
                    <div id="fileList1" class="uploader-list">
                        <div id="cover" class="thumbnail" style="background-image: url('/{$info.pic}');"><div class="file-panel"></div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.address}" placeholder="" id="address" name="address">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>门票价格：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.ticket_price}" placeholder="" id="ticket_price" name="ticket_price">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">营业时间：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.hours}" placeholder="文字描述" id="hours" name="hours">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>坐标经度：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.lon}" placeholder="" id="lon" name="lon">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>坐标纬度：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.lat}" placeholder="" id="lat" name="lat">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>状态：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    <input name="status" type="radio" id="sex-1" value="1" checked>
                    <label for="sex-1">显示</label>
                </div>
                <div class="radio-box">
                    <input name="status" type="radio" id="sex-2" value="0">
                    <label for="sex-2">隐藏</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">博物馆简介：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea id="editor" type="text/plain" name="content" style="width:100%;height:400px;">{$info.content|htmlspecialchars_decode}</textarea>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
        <input type="file" name="file" id="file" style="display: none;">
        <input type="hidden" name="id" value="{$info.id}">
    </form>
</article>


<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>

<script type="text/javascript" src="/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    $(function(){

        var ue = UE.getEditor('editor');

        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        jQuery.validator.addMethod("isLongitude", function(value, element) {
            var lon = /^-?((0|1?[0-7]?[0-9]?)(([.][0-9]{1,6})?)|180(([.][0]{1,6})?))$/;
            return this.optional(element) || lon.test(value);
        }, "请正确填写经度");

        jQuery.validator.addMethod("isLatitude", function(value, element) {
            var lat = /^-?((0|[1-8]?[0-9]?)(([.][0-9]{1,6})?)|90(([.][0]{1,6})?))$/;
            return this.optional(element) || lat.test(value);
        }, "请正确填写纬度");

        jQuery.validator.addMethod("isCurrency", function(value, element) {
            var money = /^\d{1,8}(\.\d{1,2})?$/;
            return this.optional(element) || money.test(value);
        }, "请正确填写金额");


        var isclick = true
        //表单验证
        $("#form-article-add").validate({
            rules:{
                title:{
                    required:true,
                    maxlength:50
                },
                desc:{
                    maxlength:100
                },
                address:{
                    required:true,
                    maxlength:255
                },
                ticket_price:{
                    required:true,
                    isCurrency:true
                },
                hours:{
                    required:true,
                    maxlength:255
                },
                lon:{
                    required:true,
                    isLongitude:true
                },
                lat:{
                    required:true,
                    isLatitude:true
                }
            },
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                if(isclick === true) {
                    isclick = false
                    $(form).ajaxSubmit({
                        type: 'post',
                        url: "{:url('Museum/museumModPost')}" ,
                        success: function(data){
                            if(data.code == 1) {
                                layer.msg('保存成功!',{icon:1,time:1000});
                                setTimeout("window.parent.location.reload()", 1000)
                            }else {
                                layer.msg(data.data,{icon:2,time:1000});
                                isclick = true
                            }

                        },
                        error: function(XmlHttpRequest, textStatus, errorThrown){
                            layer.msg('error!',{icon:5,time:1000});
                            isclick = true
                        }
                    });
                }

            }
        });


        $("#btn-star1").click(function(){
            $("#file").click();
            $("#file").change(function(e){
                if(checkfile('file') !== true) {
                    $("#file").val('')
                    return false
                }
                var img = e.target.files[0];
                var src = window.URL.createObjectURL(img);
                $("#fileList1").html('<div id="cover" class="thumbnail" style="background-image: url('+src+');"><div class="file-panel"></div></div>');
            });
        })


        $(document).ready(function(){
            bindKeyEvent($("#price"));
        });

        function bindKeyEvent(obj) {
            obj.keyup(function () {
                var reg = $(this).val().match(/\d+\.?\d{0,2}/);
                var txt = '';
                if (reg != null) {
                    txt = reg[0];
                }
                $(this).val(txt);
            }).change(function () {
                $(this).keypress();
                var v = $(this).val();
                if (/\.$/.test(v)) {
                    $(this).val(v.substr(0, v.length - 1));
                }
            });
        }

        function checkfile(fileId){

            var maxsize = 512*1024;//512K
            var errMsg = "上传的附件文件不能超过512K！！！";
            var tipMsg = "您的浏览器暂不支持计算上传文件的大小，确保上传文件不要超过512K，建议使用IE、FireFox、Chrome浏览器。";
            var browserCfg = {};

            var ua = window.navigator.userAgent;
            if (ua.indexOf("MSIE")>=1){
                browserCfg.ie = true;
            }else if(ua.indexOf("Firefox")>=1){
                browserCfg.firefox = true;
            }else if(ua.indexOf("Chrome")>=1){
                browserCfg.chrome = true;
            }

            if(typeof FileReader != 'undefined'){
                var file = document.getElementById(fileId).files[0];
                if((file.type).indexOf("image/")==-1){
                    alert('请上传图片（格式BMP、JPG、JPEG、PNG、GIF等）!!!!');
                    return false;
                }
            }else{
                var fileName=document.getElementById(fileId).value;
                var suffixIndex=fileName.lastIndexOf(".");
                var suffix=fileName.substring(suffixIndex+1).toUpperCase();
                if(suffix!="BMP"&&suffix!="JPG"&&suffix!="JPEG"&&suffix!="PNG"&&suffix!="GIF"){
                    alert("请上传图片（格式BMP、JPG、JPEG、PNG、GIF等）!");
                    return false;
                }
            }

            try{
                var obj_file = document.getElementById(fileId);
                if(obj_file.value==""){
                    alert("请先选择上传文件");
                    return false;
                }
                var filesize = 0;

                if(browserCfg.firefox || browserCfg.chrome ){
                    filesize = obj_file.files[0].size;
                }else{
                    alert(tipMsg);
                    return false;
                }

                if(filesize==-1){
                    alert(tipMsg);
                    return false;
                }else if(filesize>maxsize){
                    alert(errMsg);
                    return false;
                }else{
                    return true;
                }
            }catch(e){
                alert(e);
                return false;
            }
            return false;
        }



    });
</script>