<link href="/lib/lightbox2/2.8.1/css/lightbox.css" rel="stylesheet" type="text/css" >
<article class="page-container">
    <form class="form form-horizontal" id="form-admin-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>真实姓名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.realname}" placeholder="" name="realname" readonly>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户昵称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.nickname}" name="nickname" readonly>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>账户余额：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="￥：{$info.balance}" name="balance" readonly>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    <input name="sex" type="radio" id="sex-1" {if $info['sex'] == 1}checked{/if} >
                    <label for="sex-1">男</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="sex-2" name="sex" {if $info['sex'] == 2}checked{/if} >
                    <label for="sex-2">女</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机号：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" value="{$info.tel}13102163019" placeholder="" name="tel" readonly style="border: 0">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>是否认证：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.auth}" placeholder="" name="auth" readonly>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>组织机构：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.org}" placeholder="" name="org" readonly>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>法人代表：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.name}" placeholder="" name="name" readonly>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>身份证号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.identity}" placeholder="" name="identity" readonly>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">
                身份证正反面：
            </label>
            <div class="formControls col-xs-8 col-sm-9">
                <ul class="cl portfolio-area">
                    <li class="item">
                        <div class="portfoliobox">
                            <input class="checkbox" name="" type="checkbox" value="">
                            <div class="picbox"><a href="/{$info.id_front}" data-lightbox="gallery" data-title=""><img src="/{$info.id_front}"></a></div>
                            <div class="textbox"></div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="portfoliobox">
                            <input class="checkbox" name="" type="checkbox" value="">
                            <div class="picbox"><a href="/{$info.id_back}" data-lightbox="gallery" data-title=""><img src="/{$info.id_back}"></a></div>
                            <div class="textbox"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>认证手机号：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" value="{$info.role_tel}" placeholder="" name="role_tel" readonly style="border: 0">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>运营者微信号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.weixin}" placeholder="" name="weixin" readonly>
            </div>
        </div>
        {if $info['role'] == 3}
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">
                作品6张：
            </label>
            <div class="formControls col-xs-8 col-sm-9">
                <ul class="cl portfolio-area">
                    {if $info['works']}
                    <?php $image = unserialize($info['works']);?>
                    {foreach $image as $li}
                    <li class="item">
                        <div class="portfoliobox">
                            <input class="checkbox" name="" type="checkbox" value="">
                            <div class="picbox"><a href="/{$li}" data-lightbox="gallery" data-title=""><img src="/{$li}"></a></div>
                            <div class="textbox"></div>
                        </div>
                    </li>
                    {/foreach}
                    {/if}
                </ul>
            </div>
        </div>
        {/if}
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">
                资质证明：
            </label>
            <div class="formControls col-xs-8 col-sm-9">
                <ul class="cl portfolio-area">
                    <li class="item">
                        <div class="portfoliobox">
                            <input class="checkbox" name="" type="checkbox" value="">
                            <div class="picbox"><a href="/{$info.license}" data-lightbox="gallery" data-title=""><img src="/{$info.license}"></a></div>
                            <div class="textbox"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">备注：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="desc" cols="" rows="" class="textarea" placeholder="说点什么...最多输入100个字符" datatype="*10-100">{$info.desc}</textarea>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                {if $info['auth'] == 1}
                <button onClick="check_pass('{$info.id}');" class="btn btn-success radius" type="button">&nbsp;&nbsp;通过&nbsp;&nbsp;</button>
                <button onClick="check_reject('{$info.id}');" class="btn btn-danger radius" type="button">&nbsp;&nbsp;拒绝&nbsp;&nbsp;</button>
                {/if}
                <input class="btn btn-primary radius" onclick="layer_close()" type="submit" value="&nbsp;&nbsp;关闭选项卡&nbsp;&nbsp;">
            </div>
        </div>
        <div class="row cl">

        </div>
    </form>
</article>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/lightbox2/2.8.1/js/lightbox.min.js"></script>
<script type="text/javascript">
    $(function(){
        $(".portfolio-area li").Huihover();
    });

    /*需求审核*/
    function check_pass(id){
        layer.confirm('通过审核？', {
                btn: ['确定','取消'],
                shade: false,
                closeBtn: 0
            },
            function(){
                $.ajax({
                    url:"{:url('Member/rolePass')}",
                    type:'post',
                    dataType:'json',
                    data:{id:id},
                    success:function(data) {
                        console.log(data)
                        if(data.code == 1) {
                            layer.msg('已审核', {icon:1,time:1000},function () {
                                window.parent.location.reload();
                            });
                        }else {
                            layer.msg(data.data,{icon:2,time:1000})
                        }
                    },
                    error:function(data) {
                        layer.msg('请求失败!',{icon:5,time:1000})
                    }
                })

            }
            );
    }


    function check_reject(id) {
        layer.confirm('拒绝通过审核？', {
                btn: ['确定','取消'],
                shade: false,
                closeBtn: 0
            }, function() {
                layer.prompt({
                    formType: 2,
                    value: '内容违规',
                    title: '请输入理由(最多50个字)',
                    maxlength: 50,
                    area: ['400px', '300px'] //自定义文本域宽高
                }, function (value, index, elem) {
                    reason = value;
                    layer.close(index);
                    $.ajax({
                        url: "{:url('Member/roleReject')}",
                        type: 'post',
                        dataType: 'json',
                        data: {id: id, reason: reason},
                        success: function (data) {
                            console.log(data);
                            if (data.code == 1) {
                                layer.msg('已拒绝', {icon: 1, time: 1000},function () {
                                    window.parent.location.reload();
                                });
                            } else {
                                layer.msg(data.data, {icon: 2, time: 1000})
                            }
                        },
                        error: function (data) {
                            layer.msg('请求失败!', {icon: 5, time: 1000})
                        }
                    })
                })
            })
    }
</script>