<style>
    .userinfo>td>img {
        width:40px;height:40px;border-radius: 50%;
    }
</style>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 会员管理 <span class="c-gray en">&gt;</span> 获奖列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <section id="formAjax">
        <div class="text-c">
            <button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
            <span class="select-box inline">
                <select id="status" name="status" class="select">
                    <option value="">全部</option>
                    <option value="0" {if $status===0}selected{/if}>未发货</option>
                    <option value="1" {if $status===1}selected{/if}>已发货</option>
                </select>
		    </span>
            日期范围：
            <input type="text" onfocus="WdatePicker({ maxDate:'#F{ $dp.$D(\'logmax\')||\'%y-%M-%d\' }' })" id="logmin" value="{$Think.get.logmin}" class="input-text Wdate" style="width:120px;">
            -
            <input type="text" onfocus="WdatePicker({ minDate:'#F{ $dp.$D(\'logmin\') }' })" id="logmax" value="{$Think.get.logmax}" class="input-text Wdate" style="width:120px;">
            <input type="text" name="search" value="{$Think.get.search}" id="search" placeholder=" 会员名称或手机号" style="width:250px" class="input-text">
            <button name="" id="search-btn" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i> 查找会员</button>
        </div>
    </section>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="r">共有数据：<strong>{$page.count}</strong> 条</span> </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr class="text-c">
            <th width="40">ID</th>
            <th width="60">头像</th>
            <th width="140">中奖单号</th>
            <th width="100">昵称</th>
            <th width="100">手机号</th>
            <th width="150">奖品</th>
            <th>收货地址</th>
            <th width="100">中奖日期</th>
            <th width="60">支付运费</th>
            <th width="60">是否发货</th>
            <th width="60">操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $li}
        <tr class="text-c userinfo">
            <td>{$li.id}</td>
            <td><img src="{$li.avatar}" alt=""></td>
            <td>{$li.order_sn}</td>
            <td>{$li.nickname}</td>
            <td>{$li.tel}</td>
            <td>{$li.title}</td>
            <td>{$li.address}</td>
            <td>{$li.win_time|date='Y-m-d'}</td>
            <td>
                {switch $li['pay_status']}
                {case -1}
                <span class="label label-danger radius">支付失败</span>{/case}
                {case 0}
                <span class="label label-warning radius">未支付</span>{/case}
                {case 1}
                <span class="label label-success radius">已支付</span>{/case}
                {default /}
                {/switch}
            </td>
            <td class="td-status">
                {switch $li['status']}
                {case 0}
                <span class="label label-warning radius">未发货</span>{/case}
                {case 1}
                <span class="label label-success radius">已发货</span>{/case}
                {default /}
                {/switch}
            </td>
            <td class="td-manage">
                {if $li['status'] == 0}
                <a class="btn btn-link radius" style="text-decoration:none;" onClick="user_send(this,{$li.id})" href="javascript:;" title="发货">发货</a>
                {else /}
                <span class="btn btn-link radius"></span>
                {/if}
            </td>
        </tr>
        {/foreach}
        <tr>
            <td class="text-r" id="page" colspan="11"></td>
        </tr>
        </tbody>
    </table>
</div>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

    var url = '{:url("Member/winnerlist")}' + '?<?php echo $page["query"];?>'
    var curr = '{$page.curr}'
    laypage({
        cont: 'page', //容器。值支持id名、原生dom对象，jquery对象。
        pages: '{$page.totalPage}', //通过后台拿到的总页数
        skip: false, //是否开启跳页
        skin: '#5a98de',
        curr: curr || 1, //当前页
        jump: function(obj, first){ //触发分页后的回调
            // console.log(obj)
            if(!first) {
                window.location.href = url+'&page=' + obj.curr;
            }
        }
    });

    $("#search-btn").click(function () {
        var status = $("#formAjax").find("#status").val()
        var logmin = $("#formAjax").find("#logmin").val()
        var logmax = $("#formAjax").find("#logmax").val()
        var search = $("#formAjax").find("#search").val()
        var str = ''
        if(status.length != '') {
            str += '&status=' + status
        }
        if(logmin.length != '') {
            str += '&logmin=' + logmin
        }
        if(logmax.length != '') {
            str += '&logmax=' + logmax
        }
        if(search.length != '') {
            str += '&search=' + search
        }
        window.location.href = '{:url("Member/winnerlist")}' + '?' + str;
    });

    function user_send(obj,id) {
        layer.confirm('确认发货吗？',function(index){
            $.ajax({
                url:"{:url('Member/sendPrize')}",
                type:'post',
                dataType:'json',
                data:{id:id},
                success:function(data) {
                    console.log(data)
                    if(data.code == 1) {
                        $(obj).parents('tr').find('.td-status').html('<span class="label label-success radius">已发货</span>');
                        $(obj).parent().html('<span class="btn btn-link radius"></span>');
                        $(obj).remove();
                        layer.msg('已发货!',{icon: 1,time:1000});
                    }else {
                        layer.msg(data.data,{icon:2,time:1000})
                    }
                },
                error:function(data) {
                    layer.msg('请求失败!',{icon:5,time:1000})
                },
            })

        });
    }

</script>